<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/usergame" method="post">
<label for="username">username</label>
<input type="text" id="username" name="username">
<br>
<label for="nickname">nickname</label>
<input type="text" id="nickname" name="nickname">

<input type="submit" value="submit">
    </form>
</body>
</html>