<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/usergame/<%=data.id%>" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<%=data.username%>" />
    <label for="nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" value="<%=data.nickname%>" />
    <input type="submit" value="Submit">
</form>








</body>
</html>