<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    
    <div class="navbar">
        <p><a href="/usergame">Home</a></p>
        <p><a href="/biodata">Biodata</a></p>
        <p><a href="/history">History</a></p>
    </div>
    <div class="mainpage">
        <div class="table-wrapper">
    <table>
        
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Win</th>
            <th>Draw</th>
            <th>Lose</th>
        </tr>
        <% for(i=0;i<data.length;i++){ %>
            <tr>
            <td><%= data[i].id %></td>
            <td><%= data[i].user_game.dataValues.username%></td>
            <td><%= data[i].win %></td>    
            <td><%= data[i].draw %></td>
            <td><%= data[i].lose %></td>
        </tr>
           <% } %>
    </table>
    </div>
    </div>
</body>
</html>