*{
    margin : 0;
    padding :0;
}
}

.login{
    width: 100%;
    height:80%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.login-wrapper{
    border: 1px solid black;
    width : 20%;
    margin : 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input{
    margin :1rem;
}

.mainpage {
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    
}


table{
    border: 1px solid black;
    width: 100%;
    margin: 250px;
}

th,td{
    border: 1px solid black;
}


.navbar{
    width: 100%;
    height: 15vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    margin : 0 100px;
    font-size: 30px;
    }

    a{
        font-color:black;

    }